/*https://www.minwt.com/webdesign-dev/html/16998.html*/

/* 將子選單加入+號 */
li.dropdown-submenu>a:after{
  display:block;
  content:"+";
  float:right;
  font-size: 15px;
  margin-top:-1px;
  margin-left:5px;
  border: solid 1px #ccc;
  padding:0 4px;
  border-radius: 3px;
}
/* 選單開啟時變- */
li.dropdown-submenu.open>a:after{
  content:"-";
}
li.open ul.dropdown-menu>li.open>ul.dropdown-menu{
  position: relative;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
li.open ul.dropdown-menu>li.open>ul.dropdown-menu>li{
  padding-left: 20px;
}
 
/* 滑入選單時變換底色 */
  .dropdown-menu>li>a:focus, 
  .dropdown-menu>li>a:hover {
    background: rgba(0,0,0,0.1) !important;
}

