.table-editable {
  position: relative;
}
.table-editable .glyphicon {
  font-size: 15px;
}

.table-remove {
  color: #700;
  cursor: pointer;
}
.table-remove:hover {
  color: #f00;
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
}
.table-up:hover, .table-down:hover {
  color: #00f;
}

.table-add {
  color: #23527c;
  cursor: pointer;
  /*position: absolute;*/
  /*top: 8px;*/
  /*right: 0;*/
}
.table-add:hover {
  color: #0000E3;
}
